* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    color: black;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    color: #333;
}

.box-1 {
    background-color: lightcoral;
    position: relative;
    z-index: 1;
}

.box-2 {
    background-color: rgb(24, 182, 24);
    margin-top: -50px;
}
.box-3 {
    background-color: aqua;
}

.container {
    background-color: mediumslateblue;
    margin-top: -50px;
    position: relative;
}
.title {
    margin: 0;
    background-color: #ccc;
    position: relative;
    z-index: 10;
    opacity: 0.75;
}

.text {
 margin: 0;
 margin-top: -40px;
}